// Fix checkbox buttons not receiving a focus ring
/*.btn {
  .btn-check:focus + & {
    box-shadow: inset 0 0 black, $input-btn-focus-box-shadow;
  }
  .btn-check:active + & {
    box-shadow: $btn-active-box-shadow, $input-btn-focus-box-shadow;
  }
}
.btn-lg {
  .btn-check:active + & {
    box-shadow: $btn-active-box-shadow, $input-btn-focus-box-shadow;
  }
}
.btn-sm {
  .btn-check:active + & {
    box-shadow: $btn-active-box-shadow, $input-btn-focus-box-shadow;
  }
}*/

// The <input> elements don't receive focus when the label is clicked, unfortunately,
// (set to body in the mean time) so the input ring doesn't show up until mouseup.
.btn {
  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow(inset 0 0 transparent, $btn-active-box-shadow);
  }


  .btn-check:focus:checked + &,
  .btn-check:focus:active + & {
    @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
  }

  .btn-check:focus + & {
    @include box-shadow($btn-focus-box-shadow, inset 0 0 transparent);
  }
}
