@use "../variables.scss" as *;
@forward "../variables";
@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "sass:list";

.text-danger>.tooltip-inner {
    color: inherit;
}

.tooltip-anchor {
    &.disabled, &:disabled {
        pointer-events: auto;
        cursor: help;

    }
}

.tooltip {
    position: relative;

    // Used by the popper arrow, which relies on knowing the body background color
    // (which black in a light theme and white in a dark theme)
    --bs-body-bg: #{$tooltip-bg};

    --popper-arrow-size: 0.5em;
}

// Allow for easy newlines when more complex children aren't allowed
.tooltip-inner {
    white-space: break-spaces;
}

.tooltip-wrapper {
    position: absolute;


    z-index: $zindex-tooltip;
}