@use "../variables.scss" as *;
@forward "../variables";
@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "sass:list";

.text-danger>.tooltip-inner {
    color: inherit;
}

.tooltip {
    position: relative;

    // Used by the popper arrow, which relies on knowing the body background color
    // (which black in a light theme and white in a dark theme)
    --bs-body-bg: #{$tooltip-bg};

    --popper-arrow-size: 0.5em;

    // Create a "padding" element that enables a wider mouseover target.
    // This makes it earier to keep a mouseover from the source to the tooltip
    &::after {
        content: "";
        position: absolute;
        left: calc(-2 * var(--popper-arrow-size));
        right: calc(-2 * var(--popper-arrow-size));
        top: calc(-2 * var(--popper-arrow-size));
        bottom: calc(-2 * var(--popper-arrow-size));
        z-index: -1;
    }
}

.tooltip-wrapper {
    position: absolute;


    z-index: $zindex-tooltip;
}