.progress {
  position: relative;
}

.progress-bar-label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;

  font-weight: bold;

  & > * {
    overflow: hidden;
    grid-area: 1 / 1 / 1 / 1;
    user-select: none;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.progress-bar-label-on-pb {
  @each $color, $value in $theme-colors {
    .bg-#{$color} + .progress-bar-label > & {
      color: color-contrast($value);
    }
  }
}

.progress-bar-label-on-bg {
  color: $body-color;
}
