
// The Newton's cradle spinner
.newton-cradle {
    &,
    & > div {
      position: relative;
    }
  }
  
  .newton-cradle-container {
    width: var(--newton-cradle-size, 1.5em);
    height: var(--newton-cradle-size, 1.5em);
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: calc(
      (1px + var(--newton-cradle-size, 1.5em)) /
        (2 + var(--newton-cradle-count, 4))
    );
  
    animation: newton-cradle-rotate 4s 0s cubic-bezier(0,1,.38,1) infinite;
  }
  
  .newton-cradle {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .newton-cradle > div {
    background-color: currentColor;
    height: calc(100% / (var(--newton-cradle-count, 4)));
    width: 100%;
    border-radius: 100%;
  
    // Ensure that even the balls that don't move look the same aliasing-wise
    transform: translateZ(0px);
  }
  
  .newton-cradle > div:first-child {
    transform: translateX(0%);
    animation: newton-cradle-left 1s 0s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  
  .newton-cradle > div:last-child {
    transform: translateX(0%);
    animation: newton-cradle-right 1s 0s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  
  @keyframes newton-cradle-left {
    25% {
      transform: translateX(-100%);
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    50% {
      transform: translateX(0%);
    }
  }
  
  @keyframes newton-cradle-right {
    50% {
      transform: translateX(0%);
    }
    75% {
      transform: translateX(100%);
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes newton-cradle-rotate {
    0% { transform: rotate(0deg);}
    12.5% { transform: rotate(45deg);}
    25% { transform: rotate(90deg);}
    37.5% { transform: rotate(135deg);}
    50% { transform: rotate(180deg);}
    62.5% { transform: rotate(225deg);}
    75% { transform: rotate(270deg);}
    87.5% { transform: rotate(315deg);}
    100% { transform: rotate(360deg);}
  }
  