@use "../variables.scss" as *;
@forward "../variables";

.dropdown-menu {
  display: revert;
  position: relative;
}

.dropdown-menu-popper {
  z-index: $zindex-popover;
}

button.dropdown-item {
  &.pending {
    cursor: progress;
    pointer-events: auto;
  }

  & > .circular-progress-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  position: relative;
  outline: none;
  transition: $inset-press-transition;
  &:active:not(:focus),
  &.active:not(:focus) {
    box-shadow: $btn-active-box-shadow;
  }
  &:active:focus,
  &.active:focus {
    box-shadow: $input-focus-box-shadow, $btn-active-box-shadow;
    padding-bottom: $dropdown-item-padding-y * 0.5;
    padding-top: $dropdown-item-padding-y + $dropdown-item-padding-y * 0.5;
  }
  &:not(:active):not(.active):focus {
    box-shadow: $input-focus-box-shadow;
  }
}
