@use "../variables.scss" as *;
@forward "../variables";

$offcanvas-close-btn-padding: 0.75em;

.offcanvas-backdrop {
    background-color: scale-color($color: $body-bg, $alpha: -60%);
}

.offcanvas {
    visibility: visible;
    &.transition-slide, &.transition-slide.transition-enter {
        z-index: $zindex-offcanvas;
    }

    
    & .btn.btn-close {
        --size: 1em;
        width:  var(--size);
        height: var(--size);
        align-self: center;
        padding: $offcanvas-close-btn-padding;
        &:active, &.active {
          background-position-y: $offcanvas-close-btn-padding + $offcanvas-close-btn-padding * 0.5;
          padding-bottom: $offcanvas-close-btn-padding * 0.5;
          padding-top: $offcanvas-close-btn-padding + $offcanvas-close-btn-padding * 0.5;
        }
      }
}

.offcanvas-start, .offcanvas-end, .offcanvas-top, .offcanvas-bottom {
    transform: none;
}

