@use "../variables.scss" as *;
@use "../elevation.scss";
@forward "../variables";
@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "sass:list";

.table {
  vertical-align: middle;

  /*& tr {
    height: 2.5em;
  }*/
  & td {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  /*
  &,
  & tr,
  & td {
    contain: content;
  }*/
}

.table {
  position: relative;

  // Note to self: sticky headers are
  // *really* weird in Safari and it's
  // best to keep as few things sticky
  // as possible
  & > thead {
    position: sticky;
    top: 0;
    z-index: 1;

    transition: background-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    box-shadow: 0px 0em 0em 0em rgb(0 0 0 / 20%);
    background-color: var(--bs-body-bg, #{$body-bg});
    &.floating {
      box-shadow: 0px 1.2em 0.7em -0.5em rgb(0 0 0 / 20%);
      @include elevation.apply-elevation-surface-color(4);
    }
  }

  // Needed for table head border styles to be sticky
  // See https://stackoverflow.com/questions/50361698
  border-collapse: separate;
  border-spacing: 0;
}

.table th,
td {
  &:focus-visible {
    box-shadow: $input-btn-focus-box-shadow;
    outline: none;
  }
}

.table th {
  cursor: pointer;

  & .bi.transition-flip {
    will-change: transform;
  }

  &:hover {
    & .no-hover-only {
      opacity: 0;
    }
  }

  &:not(:hover) {
    & .hover-only {
      opacity: 0;
    }
  }
}

.table-sort-icon-container {
  --transition-duration: 333.3ms;
}
table.table th > .th-spacing {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
