.table th {
  cursor: pointer;


  &:hover {
    & .no-hover-only {
      opacity: 0;
    }
  }

  &:not(:hover) {
    & .hover-only {
      opacity: 0;
    }
  }
}

.table-sort-icon-container {
  --transition-duration: 333.3ms;
}
table.table th>.th-spacing {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}