@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "bootstrap-sass-variables/enable-button-pointers" as *;
@use "bootstrap-sass-variables/enable-shadows" as *;
@use "bootstrap-sass-variables/btn-active-box-shadow" as *;
@use "bootstrap-sass-variables/btn-focus-box-shadow" as *;
@use "bootstrap-sass-variables/theme-colors" as *;
@use "bootstrap-sass-variables/body-bg" as *;
@use "./ensure-contrast.scss" as *;

.btn-group {
    &.wrap {
        flex-wrap: wrap;
        row-gap: 0.25em;
    }
}

.btn {
    touch-action: manipulation; // Improve responsiveness
    appearance: none;           // Standardize styling

    @if $enable-shadows {
        will-change: box-shadow;
    }

    // Adjust the colors of outlined buttons so that they always Just Work(tm) on body-bg.
    @each $color-name, $color-value in $theme-colors {
        &.btn-outline-#{$color-name} {
            $original-color-value: $color-value;
            // Change our current theme color to something that's always visible
            $color-value: ensure-contrasting-color($body-bg, $color-value);

            // When not focused or anything, we just use that color
            --bs-btn-color: #{$color-value};
            --bs-btn-border-color: #{$color-value};



            // When hovering/active, tone down the styles a little bit.
            // 
            // TODO: The alpha value should depend on the contrast, probably
            $color-value-hover-active-bg: color.change($original-color-value, $alpha: 0.125);
            --bs-btn-hover-bg: #{$color-value-hover-active-bg};
            --bs-btn-active-bg: #{$color-value-hover-active-bg};

            // The color of the text and border when active or hovering
            // is estimated based on the alpha mix above.
            $color-value-text: ensure-contrasting-color(mix($original-color-value, $body-bg, 0.125), $original-color-value);
            --bs-btn-active-color: #{$color-value-text};
            --bs-btn-active-border: #{$color-value-text};
            --bs-btn-hover-border-color: #{$color-value-text};
            --bs-btn-hover-color: #{$color-value-text};
            --bs-btn-disabled-color: #{$color-value-text};
        }
    }


    // Bootstrap also does this when $enable-button-pointers
    // but not for .pending
    @if $enable-button-pointers {

        &:not(.disabled):not(:disabled):not(.pending) {
            cursor: pointer;
        }

        &.pending {
            cursor: progress;
            pointer-events: all;
        }
    }

    &.pending {
        &.disabled, &:disabled {
            box-shadow: $btn-active-box-shadow;
            &:focus {
                box-shadow: $btn-active-box-shadow, $btn-focus-box-shadow;
            }
        }
    }

    // Ensure that the text content and the spinner appear in the center of the button, overlapping.
    display: inline-grid;
    grid-template-columns: 1fr auto;

    &>* {
        grid-area: 1 / 1 / span 1 / span 1;
        justify-self: center;
        align-self: center;
    }
}