@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "./ensure-contrast.scss" as *;
@use "../variables.scss" as *;



$button-press-offset-y: 0.185em;
$button-press-offset-y-shadow-adjust: 0.9;


.btn {
    touch-action: manipulation; // Improve responsiveness
    appearance: none;           // Standardize styling

    // Adjust the colors of outlined buttons so that they always Just Work(tm) on body-bg.
    @each $color-name, $color-value in $theme-colors {
        &.btn-outline-#{$color-name} {
            $original-color-value: $color-value;
            // Change our current theme color to something that's always visible
            $color-value: ensure-contrasting-color($body-bg, $color-value);

            // When not focused or anything, we just use that color
            --bs-btn-color: #{$color-value};
            --bs-btn-border-color: #{$color-value};



            // When hovering/active, tone down the styles a little bit.
            // 
            // TODO: The alpha value should depend on the contrast, probably
            $color-value-hover-active-bg: color.change($original-color-value, $alpha: 0.125);
            --bs-btn-hover-bg: #{$color-value-hover-active-bg};
            --bs-btn-active-bg: #{$color-value-hover-active-bg};

            // The color of the text and border when active or hovering
            // is estimated based on the alpha mix above.
            $color-value-text: ensure-contrasting-color(mix($original-color-value, $body-bg, 0.125), $original-color-value);
            --bs-btn-active-color: #{$color-value-text};
            --bs-btn-active-border: #{$color-value-text};
            --bs-btn-hover-border-color: #{$color-value-text};
            --bs-btn-hover-color: #{$color-value-text};
            --bs-btn-disabled-color: #{$color-value-text};
        }
    }


    // Text offset effect & button shadow effect
    // For outlined buttons, force the shadow to be invisible.
    // For others, force it to be invisible while hovering or focused.
    // ("invisible" means it will look like it's level with the page instead of standing out slightly)
    @each $color-name, $color-value in $theme-colors {

        // Filled buttons are, by default, raised slightly,
        // so their text is offset up.
        &.btn-#{$color-name} {
            --bso-btn-box-shadow-y: calc(-1 * #{$button-press-offset-y} * #{$button-press-offset-y-shadow-adjust});

            &:focus,
            &:hover {
                --bso-btn-box-shadow-y: 0px;
            }

            --bso-btn-text-contents-y-offset: calc(-1 * #{$button-press-offset-y});

            &.disabled,
            &:disabled {
                &:not(.pending) {
                    --bso-btn-text-contents-y-offset: 0;
                }
            }
        }

        // Outlined buttons are flat with no offset.
        &.btn-outline-#{$color-name} {
            --bso-btn-text-contents-y-offset: 0;
            --bso-btn-box-shadow-y: 0px;
        }
    }

    &.disabled, &:disabled {
        &.pending {
            box-shadow: var(--bs-btn-active-shadow);

            &:focus {
                box-shadow: var(--bs-btn-active-shadow), var(--bs-btn-focus-box-shadow);
            }
        }
    }

    &:hover, &:focus {
        --bso-btn-text-contents-y-offset: 0;
    }

    &:active, &.active {
        --bso-btn-text-contents-y-offset: #{$button-press-offset-y};
    }

    &>.btn-text-contents,
    &.dropdown-toggle.dropstart::before,
    &.dropdown-toggle.dropend::after,
    &.dropdown-toggle.dropup::after,
    &.dropdown-toggle.dropdown::after {
        transition: transform 0.1s cubic-bezier(0, 1, 0.33, 1);
        transform: translate(0em, var(--bso-btn-text-contents-y-offset));
        display: block;
        align-self: center;
    }

}

@media (prefers-reduced-motion) {
    .btn {
        --bso-btn-text-contents-y-offset: 0 !important;
    }
}