@use "../variables.scss" as *;
@forward "../variables";
@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "sass:list";

$toast-close-btn-padding: 0.5em;

// Higher than modal, lower than tooltip.
$zindex-toast: 1060 !default;

.toasts-container {
  z-index: $zindex-toast;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  padding: 1em;
  gap: 1em;
  position: fixed;
  left: 0;
  right: 0;
  // Don't set top to improve scrolling on mobile
  bottom: 0;
  pointer-events: none;
  max-height: calc(var(--max-toast-count, 4) * 4em);
  overflow: hidden;

  & > .toast {
    pointer-events: all;

    & .btn.btn-close {
      width: 1em;
      height: 1em;
      align-self: center;
      /* height: 1em; */
      padding: $toast-close-btn-padding;
      &:active, &.active {
        background-position-y: $toast-close-btn-padding + $toast-close-btn-padding * 0.5;
        padding-bottom: $toast-close-btn-padding * 0.5;
        padding-top: $toast-close-btn-padding + $toast-close-btn-padding * 0.5;
      }
    }
  }
}

html.document-scroll-hidden .toasts-container {
  inset-inline-end: var(--scrollbar-width, 0px);
}

.toast {
  background: $body-bg;
  color: $body-color;
}
