.toasts-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 1em;
    gap: 1em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;

    &>.toast {
        pointer-events: all;
    }
}
