@use "../src/theme-dark.scss";
@use "../src/index.scss" as *;
@forward "../src/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Merriweather+Sans&family=Sora&display=swap");

body {
  font-family: $font-family-sans-serif;
}

body {
  background-color: $body-bg;
  color: $body-color;
  text-align: $body-text-align;
}

code {
  background-color: $black;
  color: $white;
  border-radius: 0.25em;
  color: #f4fff5;
  background-color: #051b00;
  border: 0.1em solid rgb(5, 60, 0);
  white-space: pre;
  display: inline-block;
  overflow: auto;
  position: relative;
  max-width: 100%;
  vertical-align: top;
  transform: translateZ(0);
}
