// If you include just this file instead of index-light or index-dark,
// you can configure the bootstrap SASS variables via
// `@use "" with ()` by including that configuration before this one.

@use "./badge/themed" as *;
@use "./button/themed" as *;
@use "./card/themed" as *;
@use "./list/themed" as *;
@use "./input-group/themed" as *;
@use "./tabs/themed" as *;
@use "./dialog/themed" as *;
@use "./menu/themed" as *;
@use "./drawer/themed" as *;
@use "./tooltip/themed" as *;
@use "./toast/themed" as *;
//@use "./progress/themed" as *;
//@use "./layout/themed" as *;
@use "./table/themed" as *;
//@use "./icon/themed" as *;
//@use "./portal/themed" as *;
//@use "./range/themed" as *;
//@use "./focus/themed" as *;

@use "preact-transition/src/index.scss";
/*
@forward "./badge/themed";
@forward "./button/themed";
@forward "./card/themed/";
@forward "./list/themed";
@forward "./input/themed-group";
@forward "./tabs/themed";
@forward "./dialog/themed";
@forward "./menu/themed";
@forward "./drawer/themed";
@forward "./tooltip/themed";
@forward "./toast/themed";
@forward "./progress/themed/";
@forward "./layout/themed/";
@forward "./table/themed/";
@forward "./icon/themed/";
@forward "./portal/themed/";
@forward "./range/themed/";

@use "./button/ensure-contrast.scss" as *;
@use "./elevation.scss";
@use "sass:color";

@use "preact-aria-widgets/src/modal.css";

$scrollbar-track-background: ensure-contrasting-color($body-bg, $body-bg, 4.5);
$scrollbar-thumb-background: ensure-contrasting-color(
  color.mix($body-bg, $scrollbar-track-background),
  $secondary,
  4.5
);
$scrollbar-thumb-active-background: color-contrast($body-bg);

*/