// If you include just this file instead of index-light or index-dark,
// you can configure the bootstrap SASS variables via
// `@use "" with ()` by including that configuration before this one.
@use "./variables.scss" as *;
@use "./accordion" as *;
@use "./button" as *;
@use "./card/" as *;
@use "./list" as *;
@use "./input-group" as *;
@use "./accordion" as *;
@use "./tabs" as *;
@use "./dialog" as *;
@use "./menu" as *;
@use "./drawer" as *;
@use "./tooltip" as *;
@use "./toast" as *;
@use "./progress/" as *;
@use "./layout/" as *;
@use "./table/" as *;

@use "preact-transition/src/index.scss";

@forward "./variables.scss";
@forward "./accordion";
@forward "./button";
@forward "./card/";
@forward "./list";
@forward "./input-group";
@forward "./accordion";
@forward "./tabs";
@forward "./dialog";
@forward "./menu";
@forward "./drawer";
@forward "./tooltip";
@forward "./toast";
@forward "./progress/";
@forward "./layout/";
@forward "./table/";

@use "./button/ensure-contrast.scss" as *;
@use "./elevation.scss";
@use "sass:color";

@use "preact-aria-widgets/src/modal.css";

$scrollbar-track-background: ensure-contrasting-color($body-bg, $body-bg, 4.5);
$scrollbar-thumb-background: ensure-contrasting-color(color.mix($body-bg, $scrollbar-track-background), $secondary, 4.5);
$scrollbar-thumb-active-background: color-contrast($body-bg);

code {
  font-family: $font-family-monospace;
  background-color: change-color($color: $green, $alpha: 0.2);
  color: $body-color;
}

*::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

*::-webkit-scrollbar:hover {
  &::-webkit-scrollbar-thumb {
    background-color: #{color-contrast($body-bg)};
  }
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color, #{$scrollbar-track-background});
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color, #{$scrollbar-thumb-background});
  border-radius: 6px;
  &:active {
    background-color: #{$scrollbar-thumb-active-background};
  }
}

*,
html,
body {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color, #{$scrollbar-thumb-background})
    var(--scrollbar-color, #{$scrollbar-track-background});
}

body.scroll-snap {
  scroll-snap-type: block mandatory;
  scroll-snap-align: center;

  & .scroll-snap-target {
    scroll-snap-align: center;
  }
}

body {
  font-family: $font-family-sans-serif;
}

body {
  background-color: $body-bg;
  color: $body-color;
  text-align: $body-text-align;
}
