//
// Color system
//
/*
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          $gray-800 !default;*/
/*
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
// scss-docs-end gray-color-variables

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;
// scss-docs-end colors-map

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


$min-contrast-ratio:   2.15 !default;

$component-active-color:      $black !default;
$component-active-bg:         $info !default;

// Body

$body-bg:                   $gray-900 !default;
$body-color:                $gray-100 !default;

// Inputs
$input-bg:                              $black !default;
$input-disabled-bg:                     $gray-800 !default;
$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
$input-placeholder-color:               $gray-400 !default;
$input-color:                           $body-color !default;
$input-border-color:                    $gray-600 !default;

// Links

$link-color:                              $info !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;

// Fonts

$text-muted:                  $gray-600 !default;

// Tables
$table-accent-bg:             $gray-800 !default;
$table-border-color:          $gray-700 !default;

// Forms

$input-color:                       $gray-800 !default;
$input-border-color:                $body-bg !default;
$input-group-addon-color:           $gray-500 !default;
$input-group-addon-bg:              $gray-700 !default;

$form-check-input-bg:                     $white !default;
$form-file-button-color:          $white !default;

// Dropdowns

$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $gray-700 !default;
$dropdown-divider-bg:               $gray-700 !default;
$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-disabled-color:           $gray-500 !default;
$nav-tabs-border-color:             $gray-700 !default;
//$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $white !default;
//$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-dark-color:                rgba($white, .6) !default;
$navbar-dark-hover-color:          $white !default;
$navbar-light-color:                rgba($gray-900, .7) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-border-color: rgba($gray-900, .1) !default;

// Pagination

$pagination-bg:                     $black !default;
$pagination-border-color:           $gray-700 !default;

$pagination-focus-color:            $link-hover-color !default;
$pagination-focus-bg:               $gray-200 !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               $gray-800 !default;
$pagination-hover-border-color:     $gray-700 !default;

$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $component-active-bg !default;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         $gray-400 !default;
$pagination-disabled-bg:            $black !default;
$pagination-disabled-border-color:  $gray-700 !default;


// Cards

$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;

// Popovers

$popover-bg:                        $gray-800 !default;
$popover-header-bg:                 $gray-700 !default;

// Toasts

$toast-background-color:            $gray-700 !default;
$toast-header-background-color:     $gray-800 !default;

// Modals

$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;
$modal-header-border-color:         $gray-700 !default;

// Progress bars

$progress-bg:                       $gray-700 !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;
$list-group-hover-bg:               $gray-700 !default;
$list-group-action-hover-color:     $list-group-color !default;
$list-group-action-active-bg:       $gray-900 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     $gray-700 !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;


// Tooltips

$tooltip-color:                     $black !default;
$tooltip-bg:                        $white !default;
$tooltip-arrow-color:               $tooltip-bg !default;
*/

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$max-dark: -0.9 !default;

$white: color.adjust(#fff, $lightness: 0% * $max-dark) !default;
$gray-100: color.adjust(#fff, $lightness: 10% * $max-dark) !default;
$gray-200: color.adjust(#fff, $lightness: 20% * $max-dark) !default;
$gray-300: color.adjust(#fff, $lightness: 30% * $max-dark) !default;
$gray-400: color.adjust(#fff, $lightness: 40% * $max-dark) !default;
$gray-500: color.adjust(#fff, $lightness: 50% * $max-dark) !default;
$gray-600: color.adjust(#fff, $lightness: 60% * $max-dark) !default;
$gray-700: color.adjust(#fff, $lightness: 70% * $max-dark) !default;
$gray-800: color.adjust(#fff, $lightness: 80% * $max-dark) !default;
$gray-900: color.adjust(#fff, $lightness: 90% * $max-dark) !default;
$black: color.adjust(#fff, $lightness: 100% * $max-dark) !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
) !default;

$blue: #2b35ca !default;
$indigo: #4500E4 !default;
$purple: #4c2ea9 !default;
$pink: #AC0063 !default;
$red: #C02333 !default;
$orange: #fd7e14 !default;
$yellow: #ffb300 !default;
$green: #10673e !default;
$teal: #00a15f !default;
$cyan: #009cbb !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
) !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
) !default;

// Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

$body-bg: $black !default;
$body-color: $gray-100 !default;
$body-text-align: null !default;

// Links
//
// Style anchor elements.

$link-color: $info !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$border-color: $gray-700 !default;

$box-shadow: 0 0.5rem 1rem rgba($white, 0.15) !default;
$box-shadow-sm: 0 0.125rem 0.25rem rgba($white, 0.075) !default;
$box-shadow-lg: 0 1rem 3rem rgba($white, 0.175) !default;
$box-shadow-inset: inset 0 1px 2px rgba($white, 0.075) !default;

$component-active-color: $black !default;
$component-active-bg: $primary !default;

$headings-color: null !default;

$text-muted: $gray-400 !default;
$blockquote-footer-color: $gray-400 !default;

$mark-bg: #fcf8e3 !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-color: $body-color !default;
$table-striped-color: $table-color !default;
$table-striped-bg-factor: 0.05 !default;
$table-striped-bg: rgba($white, $table-striped-bg-factor) !default;

$table-active-color: $table-color !default;
$table-active-bg-factor: 0.1 !default;
$table-active-bg: rgba($white, $table-active-bg-factor) !default;

$table-hover-color: $table-color !default;
$table-hover-bg-factor: 0.075 !default;
$table-hover-bg: rgba($white, $table-hover-bg-factor) !default;

$table-border-factor: 0.1 !default;
$table-border-color: $border-color !default;

$table-caption-color: $text-muted !default;

$table-bg-scale: -80% !default;
// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
  "primary": color.adjust($primary, $alpha: $table-bg-scale / 100%),
  "secondary": color.adjust($secondary, $alpha: $table-bg-scale / 100%),
  "success": color.adjust($success, $alpha: $table-bg-scale / 100%),
  "info": color.adjust($info, $alpha: $table-bg-scale / 100%),
  "warning": color.adjust($warning, $alpha: $table-bg-scale / 100%),
  "danger": color.adjust($danger, $alpha: $table-bg-scale / 100%),
  "light": $light,
  "dark": $dark,
) !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-color-opacity: 0.25 !default;
$input-btn-focus-color: rgba(
  $component-active-bg,
  $input-btn-focus-color-opacity
) !default;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-link-disabled-color: $gray-400 !default;

$btn-close-color:            $white !default;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;


$form-text-color: $text-muted !default;

$input-bg: $black !default;
$input-disabled-bg: $gray-800 !default;
$input-disabled-border-color: null !default;

$input-color: $body-color !default;
$input-border-color: $gray-600 !default;

$input-focus-bg: $input-bg !default;
$input-focus-border-color: tint-color($component-active-bg, 50%) !default;
$input-focus-color: $input-color !default;

$input-placeholder-color: $gray-600 !default;
$input-plaintext-color: $body-color !default;

$form-check-input-bg: $input-bg !default;
$form-check-input-border: 1px solid rgba($white, 0.25) !default;
$form-check-input-focus-border: $input-focus-border-color !default;

$form-check-input-checked-color: $component-active-color !default;
$form-check-input-checked-bg-color: $component-active-bg !default;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color !default;

$form-check-input-indeterminate-color: $component-active-color !default;
$form-check-input-indeterminate-bg-color: $component-active-bg !default;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color !default;

$form-switch-color: rgba(255, 255, 255, 0.25) !default;
$form-switch-focus-color: $input-focus-border-color !default;
$form-switch-checked-color: $component-active-color !default;
$form-switch-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color}'/></svg>") !default;
$form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;
$form-switch-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color}'/></svg>") !default;

$input-group-addon-color: $input-color !default;
$input-group-addon-bg: $gray-800 !default;
$input-group-addon-border-color: $input-border-color !default;
$form-select-color: $input-color !default;
$form-select-bg: $input-bg !default;
$form-select-disabled-bg: $gray-800 !default;
$form-select-disabled-border-color: $input-disabled-border-color !default;
$form-select-indicator-color: $gray-200 !default;

$form-select-border-color: $input-border-color !default;

$form-select-focus-border-color: $input-focus-border-color !default;
$form-range-track-bg: $gray-700 !default;

$form-range-thumb-bg: $component-active-bg !default;
$form-range-thumb-active-bg: tint-color($component-active-bg, 70%) !default;
$form-range-thumb-disabled-bg: $gray-500 !default;

$form-file-button-color: $input-color !default;
$form-file-button-bg: $input-group-addon-bg !default;
$form-file-button-hover-bg: shade-color($form-file-button-bg, 5%) !default;

// Form validation

$form-feedback-valid-color: $success !default;
$form-feedback-invalid-color: $danger !default;

$form-feedback-icon-valid-color: $form-feedback-valid-color !default;
$form-feedback-icon-invalid-color: $form-feedback-invalid-color !default;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$nav-link-color: $link-color !default;
$nav-link-hover-color: $link-hover-color !default;
$nav-link-disabled-color: $gray-400 !default;

$nav-tabs-border-color: $gray-700 !default;
$nav-tabs-link-hover-border-color: $gray-800 $gray-800 $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $gray-300 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: $gray-700 $gray-700 $nav-tabs-link-active-bg !default;

$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg: $component-active-bg !default;

// Navbar

$navbar-dark-color: rgba($black, 0.55) !default;
$navbar-dark-hover-color: rgba($black, 0.75) !default;
$navbar-dark-active-color: $black !default;
$navbar-dark-disabled-color: rgba($black, 0.25) !default;
$navbar-dark-toggler-border-color: rgba($black, 0.1) !default;

$navbar-light-color: rgba($white, 0.55) !default;
$navbar-light-hover-color: rgba($white, 0.7) !default;
$navbar-light-active-color: rgba($white, 0.9) !default;
$navbar-light-disabled-color: rgba($white, 0.3) !default;
$navbar-light-toggler-border-color: rgba($white, 0.1) !default;

$navbar-light-brand-color: $navbar-light-active-color !default;
$navbar-light-brand-hover-color: $navbar-light-active-color !default;
$navbar-dark-brand-color: $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color: $navbar-dark-active-color !default;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg: $black !default;
$dropdown-border-color: rgba($white, 0.15) !default;
$dropdown-divider-bg: $dropdown-border-color !default;

$dropdown-link-color: $gray-100 !default;
$dropdown-link-hover-color: shade-color($gray-100, 10%) !default;
$dropdown-link-hover-bg: $gray-800 !default;

$dropdown-link-active-color: $component-active-color !default;
$dropdown-link-active-bg: $component-active-bg !default;

$dropdown-link-disabled-color: $gray-500 !default;

$dropdown-header-color: $gray-400 !default;

$dropdown-dark-color: $gray-700 !default;
$dropdown-dark-bg: $gray-200 !default;
$dropdown-dark-border-color: $dropdown-border-color !default;
$dropdown-dark-divider-bg: $dropdown-divider-bg !default;
$dropdown-dark-link-color: $dropdown-dark-color !default;
$dropdown-dark-link-hover-color: $white !default;
$dropdown-dark-link-hover-bg: rgba($black, 0.15) !default;
$dropdown-dark-link-active-color: $dropdown-link-active-color !default;
$dropdown-dark-link-active-bg: $dropdown-link-active-bg !default;
$dropdown-dark-link-disabled-color: $gray-500 !default;
$dropdown-dark-header-color: $gray-500 !default;

// Pagination

$pagination-color: $link-color !default;
$pagination-bg: $black !default;
$pagination-border-color: $gray-700 !default;

$pagination-focus-color: $link-hover-color !default;
$pagination-focus-bg: $gray-800 !default;

$pagination-hover-color: $link-hover-color !default;
$pagination-hover-bg: $gray-800 !default;
$pagination-hover-border-color: $gray-700 !default;

$pagination-active-color: $component-active-color !default;
$pagination-active-bg: $component-active-bg !default;
$pagination-active-border-color: $pagination-active-bg !default;

$pagination-disabled-color: $gray-400 !default;
$pagination-disabled-bg: $white !default;
$pagination-disabled-border-color: $gray-700 !default;

// Cards

$card-border-color: rgba($white, 0.125) !default;
$card-cap-bg: rgba($white, 0.03) !default;
$card-cap-color: null !default;
$card-color: null !default;
$card-bg: $black !default;

// Accordion
$accordion-color: $body-color !default;
$accordion-bg: $body-bg !default;
$accordion-border-color: rgba($white, 0.125) !default;

$accordion-button-color: $accordion-color !default;
$accordion-button-bg: $accordion-bg !default;

$accordion-button-active-bg: tint-color($component-active-bg, 90%) !default;
$accordion-button-active-color: shade-color($primary, 10%) !default;

$accordion-button-focus-border-color: $input-focus-border-color !default;

$accordion-icon-color: $accordion-color !default;
$accordion-icon-active-color: $accordion-button-active-color !default;

// Tooltips

$tooltip-color: $black !default;
$tooltip-bg: $white !default;
$tooltip-arrow-color: $tooltip-bg !default;

// Popovers

$popover-bg: $black !default;
$popover-border-color: rgba($white, 0.2) !default;

$popover-header-bg: shade-color($popover-bg, 6%) !default;
$popover-header-color: $headings-color !default;

$popover-body-color: $body-color !default;

$popover-arrow-color: $popover-bg !default;

$popover-arrow-outer-color: fade-in($popover-border-color, 0.05) !default;

// Toasts

$toast-color: null !default;
$toast-background-color: rgba($black, 0.85) !default;
$toast-border-color: rgba(0, 0, 0, 0.1) !default;

$toast-header-color: $gray-400 !default;
$toast-header-background-color: rgba($black, 0.85) !default;
$toast-header-border-color: rgba(0, 0, 0, 0.05) !default;

// Badges

$badge-color: $black !default;

// Modals

$modal-content-color: null !default;
$modal-content-bg: $black !default;
$modal-content-border-color: rgba($white, 0.2) !default;

$modal-backdrop-bg: $white !default;
$modal-header-border-color: $border-color !default;
$modal-footer-border-color: $modal-header-border-color !default;

// Progress bars

$progress-bg: $gray-800 !default;
$progress-bar-color: $black !default;
$progress-bar-bg: $primary !default;

// List group

$list-group-color: $gray-100 !default;
$list-group-bg: $black !default;
$list-group-border-color: rgba($white, 0.125) !default;

$list-group-hover-bg: $gray-900 !default;
$list-group-active-color: $component-active-color !default;
$list-group-active-bg: $component-active-bg !default;
$list-group-active-border-color: $list-group-active-bg !default;

$list-group-disabled-color: $gray-400 !default;
$list-group-disabled-bg: $list-group-bg !default;

$list-group-action-color: $gray-300 !default;
$list-group-action-hover-color: $list-group-action-color !default;

$list-group-action-active-color: $body-color !default;
$list-group-action-active-bg: $gray-800 !default;

// Image thumbnails
$thumbnail-border-color: $gray-700 !default;

// Figures
$figure-caption-color: $gray-400 !default;

// Breadcrumbs

$breadcrumb-bg: null !default;
$breadcrumb-divider-color: $gray-400 !default;
$breadcrumb-active-color: $gray-400 !default;

// Carousel

$carousel-control-color: $black !default;

$carousel-indicator-active-bg: $black !default;
$carousel-caption-color: $black !default;

$carousel-dark-indicator-active-bg: $white !default;
$carousel-dark-caption-color: $white !default;
$carousel-dark-control-icon-filter: invert(1) grayscale(100) !default;

// Spinners

// Close

$btn-close-color: $black !default;

// Offcanvas

$offcanvas-border-color: $modal-content-border-color !default;
$offcanvas-bg-color: $modal-content-bg !default;
$offcanvas-color: $modal-content-color !default;

// Code

$code-color: $purple !default;

$kbd-color: $black !default;
$kbd-bg: $gray-100 !default;

$pre-color: null !default;

