@use "sass:color";

$enable-shadows: true;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import "./dark-theme";
@import "./bootstrap-config.scss";
@import "./bootstrap-styles.scss";
@import "./bootstrap-styles-additional.scss";

// 5. Add additional custom code here

@import "../node_modules/preact-transition/src/index.scss";

@import "./progress";
@import "./button";
@import "./tabs";
@import "./dropdown";
@import "./input-group";
@import "./offcanvas";
@import "./dialog";
@import "./toast";
@import "./tooltip";
@import "./forms/toggle-button/index.scss";



// Forces an element to be square, no matter what width/height it is either set to or just implicitly has
.square-box {
  position: relative;
  overflow: hidden;
}
.square-box:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.square-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
