@use "../variables.scss" as *;
@use "sass:color";
@use "sass:map";
@use "sass:string";

@forward "../variables.scss";

.input-group-text.form-switch {
  & > .form-check-input {
    margin-inline-start: 0;
  }
}

.input-group-text {
  position: relative;
}

.form-check-input + .circular-progress-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.input-group-text > .form-check-input {
  margin-top: 0;
}

.form-control.with-end-icon {
  padding-inline-end: 1.8em;
}

.form-control + .circular-progress-container {
  position: absolute;
  right: 0.5em;
  top: 0;
  bottom: 0;
  align-items: center;
  z-index: 5;
}

.form-check-input.disabled,
.form-check-input:disabled,
.form-check-label.disabled {
  opacity: $form-check-label-disabled-opacity;
}

.form-check-input:not(.disabled),
.form-check-input:not(:disabled),
.form-check-label:not(.disabled) {
  cursor: pointer;
  touch-action: manipulation;
}

:not(.input-group) > .form-control + .circular-progress-container {
  align-items: flex-end;
  inset-block-end: 0.6em;
}

.form-check {
  position: relative;

  &.form-switch > .form-check-input:checked + .circular-progress-container {
    inset-inline-start: 0.9em;
  }

  & > .circular-progress-container {
    justify-content: flex-start;
    inset-inline-start: -0.1em;
  }
}
