@use "../variables" as *;
@use "sass:color";
@use "sass:map";
@use "sass:string";
@use "./mixins.scss" as *;
@forward "../variables";


.list-group {
    font-family: $font-family-sans-serif;
}


.list-group-item-action,
.list-group-item[tabindex="0"] {
  outline: none;
  transition: $inset-press-transition;

  @if $enable-button-pointers {
    &:not(.disabled):not(.pending) {
      cursor: pointer;
    }
    &.disabled {
      cursor: default;
    }
    &.pending {
      cursor: progress;
    }
  }


  &:active:not(.pending),
  &.active:not(.pending),
  &:not(:active):not(.active).pending {
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border-color;
  }

  &:not(.active):not(:active):not(.pending),
  &:active.pending,
  &.active.pending {
    background-color: var(--bs-body-bg);
    border-color: $list-group-border-color;
    color: $body-color;
  }
}

@include list-group-item-ish($name: list-item-text-contents);