@use "../variables" as *;
@use "sass:color";
@use "sass:map";
@use "sass:string";
@forward "../variables";

$list-item-press-offset-y: 0.185em;
$list-item-press-offset-y-shadow-adjust: 0.9;

.list-group-item {
  background-color: var(--bs-body-bg);
  color: $body-color;
  border-color: $list-group-border-color;
}

.list-group-item-action,
.list-group-item[tabindex="0"] {

  --bso-list-item-box-shadow-y: 0;

  --bso-list-item-text-contents-y-offset: 0; //calc(-1 * #{$list-item-press-offset-y});

  &:active, &.active, &.pending {
      --bso-list-item-text-contents-y-offset: #{$list-item-press-offset-y};
  }


  &.disabled,
  &:disabled {
      &:not(.pending) {
          --bso-list-item-text-contents-y-offset: 0;
      }
  }

  // When we're active,
  // or when we're not active but pending to become active,
  // use the "depressed text" box-shadow.
  &:active:not(.pending):not(:focus),
  &.active:not(.pending):not(:focus),
  &:not(:active):not(.active).pending:not(:focus) {
    box-shadow: $btn-active-box-shadow;
  }

  &:focus {
    // When we're focused, we show *just* the focus ring
    // (and not the text-depression effect) when we're
    // * not active (and also not pending to become active), and
    // * active, but also pending to become *inactive*
    &:not(:active):not(.active):not(.pending),
    &:active.pending,
    &.active.pending {
      box-shadow: $input-focus-box-shadow;
    }

    // When we're focused, we show the "text-depressed" and focus ring effects
    // * when we're also active but not pending to become inactive OR
    // * not active but pending to become active.
    &:active:not(.pending),
    &.active:not(.pending),
    &:not(:active).pending,
    &:not(.active).pending {
      box-shadow: $input-focus-box-shadow, $btn-active-box-shadow;
    }
  }

  // When we're active and also not pending to become inactive,
  // or when we're not active but pending to become active,
  // use the "depressed text" padding (depending on size).
  /*&:active:not(.pending),
  &.active:not(.pending),
  &:not(:active):not(.active).pending {
    padding-bottom: $list-group-item-padding-y * 0.5;
    padding-top: $list-group-item-padding-y + $list-group-item-padding-y * 0.5;
    background-position-y: $list-group-item-padding-y * 0.5;
  }*/
  background-position-y: 0;



  &>.list-item-text-contents,
  &.dropdown-toggle.dropstart::before,
  &.dropdown-toggle.dropend::after,
  &.dropdown-toggle.dropup::after,
  &.dropdown-toggle.dropdown::after {
      transition: transform 0.1s cubic-bezier(0, 1, 0.33, 1);
      transform: translate(0em, var(--bso-list-item-text-contents-y-offset));
      align-self: center;
  }
}

// Undo the above if the user prefers less motion
@media (prefers-reduced-motion) {
  .list-group-item-action,
  .list-group-item[tabindex="0"] {
    --bso-list-item-text-contents-y-offset: 0 !important;
  }
  .nav-link {
    &:active,
    &.active,
    &.pending {
      --bso-list-item-text-contents-y-offset: 0 !important;
    }
  }
}
